# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*{../Day_9/js/Components/
        ../apiCallingAxios/api copy/
        ../apiCallingAxios/package-lock.json
        ../apiCallingAxios/package.json
        ../node_modules/
        ../package-lock.json
        ../package.json
        ../realWorldTodo/todo.md
        }
